/datafile/font/FZY1JW.TTF
/datafile/font/FZY3JW.TTF
/datafile/font/FZY3K.TTF
/datafile/font/FZY4JW.TTF
/log.txt
/.idea/
/src/__pycache__/
/src/resource.py
/src/resource.qrc
/src/history_.json
/history.json
/src/.env
