/PetPackageXG/datafile/font/FZY1JW.TTF
/PetPackageXG/datafile/font/FZY3JW.TTF
/PetPackageXG/datafile/font/FZY3K.TTF
/PetPackageXG/datafile/font/FZY4JW.TTF
/log.txt
/.idea/
/PetPackageXG/__pycache__/
/PetPackageXG/resource.py
/PetPackageXG/resource.qrc
/history_.json
/history.json
/.env
