/log.txt
/.idea/
/PetXG/__pycache__/
/res-dev/resource.qrc
/history_.json
/PetXG/history.json
/.env
/dist-3.12/
/PetXG/datafile/
/res-dev/
/PetXG.egg-info/
/start.bat
/dist-3.10/
/history.json
/memory.json
/PetXG/log.txt
/main.dist/
/main.build/
/build/
/main.spec
/dist/
